.wrapper{
    width: 100%;
    margin-top: 20px;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.cart{
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #d4d0d0;
    transition: all 1s;
}

.cart:hover{
    background-color: #f0e9e9;
    border: solid 1px #494747;
    cursor: pointer;
}